CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
test/acftest
test/arimatest
test/artest
test/artest2
test/pacftest
test/sarimatest
